version: "3.9"

services:
  backend:
    build: ./backend
    container_name: fake-api-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/database.sqlite:/data/database.sqlite
    restart: unless-stopped

