name: Deploy Backend API

on:
  push:
    branches:
      - master
    paths:
      - "backend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Deploy Backend
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            set -e

            cd ${{ secrets.SSH_PATH }}

            echo "Pull latest code"
            git pull origin master

            echo "Install backend dependencies"
            cd backend
            npm install

            echo "Build backend"
            npm run build

            echo "Reload PM2"
            pm2 reload fake-ecommerce-api

            pm2 save
          EOF
